'.source.sql':
  'Add Comment Block':
    'prefix': '---'
    'body': '''
      -------------------------------------------------------------------------------
      -- $1
      -------------------------------------------------------------------------------
      '''
