scopeName: 'source.sql'
name: 'SQL (Transact-SQL)'
fileTypes: [
  'sql'
]
patterns: [
  {
    match: '@[a-z_]\\w+'
    name: 'variable'
  }
  {
    match: '--.*'
    name: 'comment'
  }
  {
    begin: '\''
    end: '\''
    name: 'string'
  }
  {
    match: '\\b[0-9]+(\\.[0-9]+)?\\b'
    name: 'numeric'
  }
  {
    match: '\\b(null|not null)\\b'
    name: 'null'
  }
  {
    match: '\\b(int|bigint|smallint|tinyint|numeric|bit|decimal|money|smallmoney|float|real)\\b'
    name: 'data-type'
  }
  {
    match: '\\b(date|time|datetime|datetime2|smalldatetime|datetimeoffset)\\b'
    name: 'data-type'
  }
  {
    match: '\\b(char|varchar|text|nchar|nvarchar|ntext|binary|varbinary|image)\\b'
    name: 'data-type'
  }
  {
    match: '\\b(uniqueidentifier|sysname)\\b'
    name: 'data-type'
  }
  {
    match: '\\b(create|alter|drop|disable trigger|enable trigger|rename|update statistics)\\b'
    name: 'ddl'
  }
  {
    match: '\\b(select|insert|update|delete|merge|bulk insert|truncate table)\\b'
    name: 'dml'
  }
  {
    match: '\\b(from|option|output|top|where|with|order by|group by|having)\\b'
    name: 'dml-clause'
  }
]
